# Gradle
/.gradle/
/build/
**/build/
local.properties

# IntelliJ IDEA / Android Studio
/.idea/
*.iml
*.iws
*.ipr
out/
/.kotlin/ # For Kotlin 2.0+ data

# macOS
.DS_Store

# iOS / Xcode
xcuserdata/
DerivedData/
Pods/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
# Specific to your project, replace 'YourProjectName' with your actual project name
# YourProjectName.xcodeproj/*
# !YourProjectName.xcodeproj/project.pbxproj 

# Android
.externalNativeBuild/
.cxx/
captures/
*.jks

# gradle modules
/composeApp/build/*

local.properties
